In [1]:
#model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize

In [2]:
import mysql.connector as conn

In [4]:
mydb=conn.connect(host="localhost",user="root",passwd="Kansal1902$")

In [5]:
cursor=mydb.cursor()

In [6]:
cursor.execute('create database bmw_data')

In [ ]:
cursor.execute('create table bmw_data.car (model VARCHAR(15),year INT(10),price INT(10),transmission VARCHAR(15),mileage INT(15),fuelType VARCHAR(15),tax INT(10),mpg float(10),engineSize float')

In [35]:
cursor.execute('DROP table bmw_data.car')

In [37]:
cursor.execute('create table bmw_data.car (model VARCHAR(15),year VARCHAR(10),price VARCHAR(10),transmission VARCHAR(15),mileage VARCHAR(15),fuelType VARCHAR(15),tax VARCHAR(10),mpg VARCHAR(10),engineSize VARCHAR(10))')

In [15]:
file =open('Downloads/bmw.csv')

In [39]:
import csv
with open ('Downloads/bmw.csv','r') as b:
    bmw_car=csv.reader(b,delimiter='\n')
    for i in bmw_car:
        cursor.execute('insert into bmw_data.car values(%s,%s,%s,%s,%s,%s,%s,%s,%s)',i[0].split(','))

In [40]:
mydb.commit()

In [29]:
type(i[0])

str