In [4]:
import mysql.connector as conn

In [5]:
mydb1=conn.connect(host="localhost",user='root',passwd='Kansal1902$')

In [6]:
cursor=mydb1.cursor()

In [20]:
cursor.execute('use testrahulcoder')

In [21]:
cursor.execute('show tables')

In [22]:
cursor.fetchall()

[('coding',), ('glassdata',)]

In [ ]:
cursor.execute('create database wannacoder')

In [24]:
cursor.execute('show databases')

In [25]:
cursor.fetchall()

[('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sys',),
 ('testrahulcoder',),
 ('wannacoder',)]

In [ ]:
#Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner

In [53]:
cursor.execute('create table wannacoder.car_data(Car_name VARCHAR(10),Year INT(10),Selling_Price float(10),Present_Price float(10),Kms_Driven INT(10),Fuel_Type VARCHAR(10),Seller_Type VARCHAR(10),Transmission VARCHAR(10),Owner INT(10))')

ProgrammingError: 1050 (42S01): Table 'car_data' already exists

In [42]:
cursor.execute("insert into wannacoder.car_data value('ritz',2014,3.35,5.59,27000,'Petrol','Dealer','Manual',0)")

In [43]:
mydb1.commit()

In [14]:
cursor.execute('use wannacoder')

In [15]:
cursor.execute('show tables')

In [16]:
cursor.fetchall()

[('car_data',)]

In [21]:
file=open('Downloads/car data.csv','r')

In [45]:
import csv
# with open('Downloads/car data.csv','r') as c:
#     car_data=csv.reader(c,delimiter='\n')
#     for i in car_data:
#         print(i)

In [54]:
with open('Downloads/car data.csv','r') as c:
    car_data=csv.reader(c,delimiter='\n')
    for i in car_data:
        print(i[0])
        print(f'car_datavalues1({str(i[0])})')
        cursor.execute("insert into wannacoder.car_data values (%s,%s,%s, %s, %s, %s, %s, %s, %s)",i[0].split(',') )

ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
car_datavalues1(ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0)
sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
car_datavalues1(sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0)
ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
car_datavalues1(ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0)
wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
car_datavalues1(wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0)
swift,2014,4.6,6.87,42450,Diesel,Dealer,Manual,0
car_datavalues1(swift,2014,4.6,6.87,42450,Diesel,Dealer,Manual,0)
vitara brezza,2018,9.25,9.83,2071,Diesel,Dealer,Manual,0
car_datavalues1(vitara brezza,2018,9.25,9.83,2071,Diesel,Dealer,Manual,0)

DataError: 1406 (22001): Data too long for column 'Car_name' at row 1